<a href="https://colab.research.google.com/github/MuhammadHammad02/Python-Practice-Basics/blob/main/Basic_to_write_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
name = "Hammad"
age = 35
salary = 50000

In [4]:
#aprroach no 1 to write code

name,age,salary = 'Hammad',35,50000

print(name)
print(age)
print(salary)

print('name',age,salary)

Hammad
35
50000
name 35 50000

In [5]:
#approach 2 using seperator
print("Name is", name)
print("Age is ", age)
print("Salary is ", salary)

Name is Hammad
Age is  35
Salary is  50000

In [7]:
#Approach 3 is %
# %s is string
# %d is digit (number)
# %g is decimal

print("Name is: %s Age is: %d Salary is: %g" %(name,age,salary))

Name is: Hammad Age is: 35 Salary is: 50000

In [8]:
#Approach 4 is {}

print("Name is: {} Age is: {} Salary is: {}" .format(name,age,salary))

Name is: Hammad Age is: 35 Salary is: 50000