In [1]:
print("Hello world!")
print("Hello 1")
print('Hello World')
print("Hello World" , 'Hello world1236')

Hello world!
Hello 1
Hello World
Hello World Hello world1236

In [5]:
print("Hello World", 'Python',sep=".........")

Hello World.........Python

In [9]:
print("Hello world!", end=" 2132 ")
print("Hello 1", end="/t")
print('Hello World', end="")
print("Hello World" , 'Hello world1236')

Hello world! 2132 Hello 1Hello WorldHello World Hello world1236

In [14]:
print("Hello world!", end="/n")
print("Hello 1", end="/n")
print('Hello World', end="/n")
print("Hello World" , 'Hello world1236')

Hello world!/nHello 1/nHello World/nHello World Hello world1236

In [16]:
print("hello1", end="\n\n" )
print("Hello world!", end="\n\n")
print("Hello 1", end="\n\n")
print('Hello World', end="\n\n")
print("Hello World" , 'Hello world1236')

hello1

Hello world!

Hello 1

Hello World

Hello World Hello world1236

In [1]:
list1 = ['apple','mango','orange']

In [3]:
list1

['apple', 'mango', 'orange']

In [4]:
len(list1)

3

In [7]:
list1.append('kiwi')

In [6]:
list1

['apple', 'mango', 'orange']

In [8]:
list1

['apple', 'mango', 'orange', 'kiwi']

In [10]:
list1.append('cherry')

In [11]:
list1

['apple', 'mango', 'orange', 'kiwi', 'cherry']

In [12]:
list1.append('pineapple')

In [13]:
list1.append('coconut')

In [14]:
list1

['apple', 'mango', 'orange', 'kiwi', 'cherry', 'pineapple', 'coconut']

In [15]:
list1.insert(1,"grapes")

In [16]:
list1

['apple',
 'grapes',
 'mango',
 'orange',
 'kiwi',
 'cherry',
 'pineapple',
 'coconut']

In [18]:
list1.insert(3,'peach')

In [19]:
list1

['apple',
 'grapes',
 'mango',
 'peach',
 'orange',
 'kiwi',
 'cherry',
 'pineapple',
 'coconut']

In [20]:
list1.insert(4,'avacado')

In [21]:
list1

['apple',
 'grapes',
 'mango',
 'peach',
 'avacado',
 'orange',
 'kiwi',
 'cherry',
 'pineapple',
 'coconut']

In [22]:
list1.insert(5,'blueberry')

In [23]:
list1

['apple',
 'grapes',
 'mango',
 'peach',
 'avacado',
 'blueberry',
 'orange',
 'kiwi',
 'cherry',
 'pineapple',
 'coconut']

In [25]:
list1.extend(['palm','olive','banana','chiku'])

In [26]:
list1

['apple',
 'grapes',
 'mango',
 'peach',
 'avacado',
 'blueberry',
 'orange',
 'kiwi',
 'cherry',
 'pineapple',
 'coconut',
 'palm',
 'olive',
 'banana',
 'chiku']

In [28]:
list1.count('olive')

1

In [29]:
list1.index('orange')

6

In [30]:
list1.count('kiwi')

1

In [31]:
list1.clear()

In [32]:
list1

[]

In [39]:
list=['palm','olive','banana','chiku']

In [36]:
del list

In [37]:
list

list

In [38]:
print(list)

<class 'list'>

In [40]:
print(list)

['palm', 'olive', 'banana', 'chiku']

In [44]:
del list[1]

In [45]:
del list[2]

In [46]:
list

['palm', 'banana']

In [47]:
list.remove("palm")

In [48]:
list

['banana']

In [1]:
for a in range(10):
    print("Ali")

Ali
Ali
Ali
Ali
Ali
Ali
Ali
Ali
Ali
Ali

In [2]:
for a in range(10):
    print(a,"ALi")

0 ALi
1 ALi
2 ALi
3 ALi
4 ALi
5 ALi
6 ALi
7 ALi
8 ALi
9 ALi

In [3]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [5]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [6]:
for number in range(1,11,2):
    print(number)

1
3
5
7
9

In [7]:
for number in range(11,1,-2):
    print(number)

11
9
7
5
3

In [8]:
cities= ["Karachi","Multan","Faislabad","Islamabad","Lahore"]
for city in cities:
    print(f"The City under the consideration in {city}")

The City under the consideration in Karachi
The City under the consideration in Multan
The City under the consideration in Faislabad
The City under the consideration in Islamabad
The City under the consideration in Lahore

In [2]:
tablenumber = int(input("Enter Table Number"))
for a in range(2,11):
    print(f"{tablenumber} * {a} = {tablenumber*a}")

Enter Table Number4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [3]:
tablenumnber = int(input("Enter Table Number"))
for a in range(2,10):
    print(f"{tablenumber} * {a} = {tablenumber*a}")

Enter Table Number5
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [7]:
tables = int(input("Enter Table"))
for table in range(2,tables+1):
    for num in range(1,11):
        print(f"{table} * {num} = {table*num}")

Enter Table10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [9]:
tables = int(input("Enter Table"))
for table in range(10,tables+1):
    for num in range(1,11):
        print(f"{table} *  {num} = {table*num}")

Enter Table20
10 *  1 = 10
10 *  2 = 20
10 *  3 = 30
10 *  4 = 40
10 *  5 = 50
10 *  6 = 60
10 *  7 = 70
10 *  8 = 80
10 *  9 = 90
10 *  10 = 100
11 *  1 = 11
11 *  2 = 22
11 *  3 = 33
11 *  4 = 44
11 *  5 = 55
11 *  6 = 66
11 *  7 = 77
11 *  8 = 88
11 *  9 = 99
11 *  10 = 110
12 *  1 = 12
12 *  2 = 24
12 *  3 = 36
12 *  4 = 48
12 *  5 = 60
12 *  6 = 72
12 *  7 = 84
12 *  8 = 96
12 *  9 = 108
12 *  10 = 120
13 *  1 = 13
13 *  2 = 26
13 *  3 = 39
13 *  4 = 52
13 *  5 = 65
13 *  6 = 78
13 *  7 = 91
13 *  8 = 104
13 *  9 = 117
13 *  10 = 130
14 *  1 = 14
14 *  2 = 28
14 *  3 = 42
14 *  4 = 56
14 *  5 = 70
14 *  6 = 84
14 *  7 = 98
14 *  8 = 112
14 *  9 = 126
14 *  10 = 140
15 *  1 = 15
15 *  2 = 30
15 *  3 = 45
15 *  4 = 60
15 *  5 = 75
15 *  6 = 90
15 *  7 = 105
15 *  8 = 120
15 *  9 = 135
15 *  10 = 150
16 *  1 = 16
16 *  2 = 32
16 *  3 = 48
16 *  4 = 64
16 *  5 = 80
16 *  6 = 96
16 *  7 = 112
16 *  8 = 128
16 *  9 = 144
16 *  10 = 160
17 *  1 = 17
17 *  2 = 34
17 *  3 = 51
17 *  4 = 68
17 *  5 = 85
17 *  6 = 102
17 *  7 = 119
17 *  8 = 136
17 *  9 = 153
17 *  10 = 170
18 *  1 = 18
18 *  2 = 36
18 *  3 = 54
18 *  4 = 72
18 *  5 = 90
18 *  6 = 108
18 *  7 = 126
18 *  8 = 144
18 *  9 = 162
18 *  10 = 180
19 *  1 = 19
19 *  2 = 38
19 *  3 = 57
19 *  4 = 76
19 *  5 = 95
19 *  6 = 114
19 *  7 = 133
19 *  8 = 152
19 *  9 = 171
19 *  10 = 190
20 *  1 = 20
20 *  2 = 40
20 *  3 = 60
20 *  4 = 80
20 *  5 = 100
20 *  6 = 120
20 *  7 = 140
20 *  8 = 160
20 *  9 = 180
20 *  10 = 200